.button-player{
  width: 60px;
  height: 60px;
  background-color: #3C4262;
  color: #777da1;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  border: 0;
  font-size: 30px;
  font-weight: bold
}

.button-player:hover{
  background-color: #31354d;
  border: 5px solid #31354d;
}